 #tab a{
    font-size: 18px;
  }
  #mapCanvas{
    width: 100%;
    height: 600px;
  }
  .stations, .stations svg { position: absolute; }
.stations text{font-size: 16px;}
  .stations svg { width: 120px; height: 30px; padding-right: 100px; font: 12px sans-serif; }

  .stations circle { fill: #FBD10A; stroke: black; stroke-width: 1px; }
  .news p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .newpage{
    border-bottom: 1px dashed gray;
    margin-bottom: 24px;
  }
  .red{
    color: red
  }